{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 position-absolute">
        <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60108156208b452d177909ff_6002086f72b727f82801de0c_adaptive-vs-responsive.jpeg" alt="background" loading="lazy" class="img-fluid"/>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle bg-white rounded" id="registerContainer">
        <form method="POST" action="{{path('createNewUser')}}">
            
            {% if errorRegister|default(null) %}
                <h1>aaa</h1>
            {% endif %}
            <div class="text-start mt-3 ms-3">
                <h1 class="fw-bold">Create account</h1>
            </div>
            <div class="mt-2 p-3">
                <i class="fa-solid fa-user" id="userRegisterIcon"></i>
                <input type="text" placeholder="username" name="username" class="form-control registerInput" required/>
            </div>
            <div class="mt-2 p-3">
                <i class="fa-solid fa-envelope" id="emailRegisterIcon"></i>
                <input type="email" placeholder="username@google.com" name="email" class="form-control registerInput" id="newUserEmail" data-href="{{path('validateUserEmail')}}" required/>
            </div>
            <div class="mt-2 p-3">
                <i class="fa-solid fa-lock" id="passwordRegisterIcon"></i>
                <input type="password" placeholder="password" name="password" class="form-control registerInput" required/>
            </div>
            <div class="mt-2 p-3">
                <label class="form-label ms-2" for="userRol">Which Rol do you want to use?</label>
                <i class="fa-solid fa-star" id="rolRegisterIcon"></i>
                <select class="form-select" id="rolSelect" name="userRol">
                    <option value="ROL_USER" selected>User</option>
                    <option value="ROL_ADMIN">Admin</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" id="signUpButton">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/register.js')}}"></script>
{% endblock %}
{% block stylesheets %}
<style>
    #registerContainer{
        width: 35%;
        height: 55%;
    }

    #signUpButton{

        width: 20%;
        border-radius: 25px !important;    
    }

    #userRegisterIcon{
        position: absolute;
        left: 5%;
        top: 19%;
    }

    #emailRegisterIcon{
        position: absolute;
        left: 5%;
        top: 36%;
    }

    #passwordRegisterIcon{
        position: absolute;
        left: 5%;
        top: 52%;
    }

    #rolRegisterIcon{
        position: absolute;
        left: 5%;
        top: 74%;
    }
    .registerInput, #rolSelect{
        border-radius: 25px !important;
        height: 3em;
        padding: 5px 36px !important;
    }

    #errorRegisterDiv{
        position: absolute;
        margin-left: 38%;
    }
</style>

{% endblock %}