#loginContainer {
    width: 30%;
    height: 35%;
}

#signInButton {
    width: 20%;
    border-radius: 25px !important;
}

.loginInputs {
    border-radius: 25px !important;
    height: 3em;
    padding: 5px 40px !important;
}

#emailIcon {
    position: absolute;
    left: 6%;
    top: 33%;
}

#passwordIcon {
    position: absolute;
    left: 6%;
    top: 57%;
}